.eb-toc-wrapper {
	width: 100%;
}

ol {
	counter-reset: item;

	li {
		display: block;
	}

	li:before {
		content: counters(item, ".") " ";
		counter-increment: item;
	}
}

.eb-base-control {
	> div {
		display: flex;
		justify-content: space-between;
	}
}

.hide-content {
	display: none;
}

.eb-toc-go-top {
	height: 30px;
	width: 30px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	background: #ccd0d4;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.show-scroll {
	display: flex;
}

.hide-scroll {
	display: none;
}
